<style>
    .display-none {
        display: none;
    }
    .side-section {
        width: 128px;
    }
    .side_panel_group {
        display: flex;
    }
    .side_panel_head_group {
        width: 125px;
        height: 103px;
        position: relative;
        overflow: hidden;
    }
    .side_panel_image_head {
        position: absolute;
        top: 0;
        left: 0;
    }
    .side_panel_image_png {
        width: 100%;
        height: 100%;
    }
    .side_panel_image {
        display: block;
        font-size: 0;
    }
    #side_link_03 {background-image: url("images/04/side/left-5_03.gif"); width: 55px; height: 44px;}
    #side_link_04 {background-image: url("images/04/side/left-5_04.gif"); width: 70px; height: 44px;}
    #side_link_06 {background-image: url("images/04/side/left-5_06.gif"); width: 70px; height: 44px;}
    #side_link_07 {background-image: url("images/04/side/left-5_07.gif"); width: 55px; height: 44px;}
    #side_link_08 {background-image: url("images/04/side/left-5_08.gif"); width: 70px; height: 44px;}
    #side_link_09 {background-image: url("images/04/side/left-5_09.gif"); width: 55px; height: 42px;}
    #side_link_11 {background-image: url("images/04/side/left-5_11.gif"); width: 55px; height: 41px;}
    #side_link_13 {background-image: url("images/04/side/left-5_13.gif"); width: 65px; height: 45px;}
    #side_link_14 {background-image: url("images/04/side/left-5_14.gif"); width: 60px; height: 45px;}
    #side_link_03:hover {background-image: url("images/04/side/left-5_03b.gif");}
    #side_link_04:hover {background-image: url("images/04/side/left-5_04b.gif");}
    #side_link_06:hover {background-image: url("images/04/side/left-5_06b.gif");}
    #side_link_07:hover {background-image: url("images/04/side/left-5_07b.gif");}
    /* #side_link_08:hover {background-image: url("images/04/side/left-5_08b.gif");} */
    #side_link_09:hover {background-image: url("images/04/side/left-5_09b.gif");}
    #side_link_11:hover {background-image: url("images/04/side/left-5_11b.gif");}
   /* #side_link_13:hover img {background-image: url("images/04/side/left-5_13b.gif");}*/
    #side_link_14:hover {background-image: url("images/04/side/left-5_14b.gif");}
    
</style>
<div class="side-section" id="side_panel">
    <img class="side_panel_image" src="images/04/side/left-5_01.gif" alt="">
    <div class="side_panel_head_group">
        <!-- <img class="side_panel_image_head head1" src="images/02/side/left-5_02.gif" alt=""> -->
        <!-- <img class="side_panel_image_head head2" src="images/02/side/1.gif" alt=""> -->
        <img class="side_panel_image_png" src="images/04/5.png" alt="">
    </div>
    <div class="side_panel_group">
        <a href="01.html" id="side_link_03"  class="side_panel_image" ></a>
        <a href="02.html" id="side_link_04"  class="side_panel_image" ></a>
    </div>
    <div class="side_panel_group">
        <img class="side_panel_image" src="images/04/side/left-5_05.gif" alt="">
        <a href="03.html" id="side_link_06"  class="side_panel_image" ></a>
    </div>
    <div class="side_panel_group">
        <a href="05.html" id="side_link_07"  class="side_panel_image" ></a>
        <a href="04.html" id="side_link_08"  class="side_panel_image" ></a>
    </div>
    <div class="side_panel_group">
        <a href="#" id="side_link_09"  class="side_panel_image" ></a>
        <img class="side_panel_image" src="images/04/side/left-5_10.gif" alt="">
    </div>
    <div class="side_panel_group">
        <a href="06.html" id="side_link_11"  class="side_panel_image" ></a>
        <img class="side_panel_image" src="images/04/side/left-5_12.gif" alt="">
    </div>
    <div class="side_panel_group">
       <!-- <a href="#" id="side_link_13"  class="side_panel_image" ><img class="side_panel_image" alt="side_link_13"></a>-->
       <img  src="images/04/side/left-5_13.gif" alt="">
        <a href="index.html" id="side_link_14"  class="side_panel_image" ></a>
    </div>
    <div class="side_panel_group">
        <img class="side_panel_image" src="images/04/side/left-5_15.gif" alt="">
    </div>
</div>