<style>
    .display-none {
        display: none;
    }
    .side-section {
        width: 128px;
    }
    .side_panel_group {
        display: flex;
    }
    .side_panel_head_group {
        width: 125px;
        height: 103px;
        position: relative;
        overflow: hidden;
    }
    .side_panel_image_head {
        position: absolute;
        top: 0;
        left: 0;
    }
    .side_panel_image_png {
        width: 100%;
        height: 100%;
    }
    .side_panel_image {
        display: block;
        font-size: 0;
    }
    #side_link_03 {background-image: url("images/03/side/left-2_03.gif"); width: 55px; height: 44px;}
    #side_link_04 {background-image: url("images/03/side/left-2_04.gif"); width: 70px; height: 44px;}
    #side_link_06 {background-image: url("images/03/side/left-2_06c.gif"); width: 70px; height: 44px;}
    #side_link_07 {background-image: url("images/03/side/left-2_07.gif"); width: 55px; height: 44px;}
    #side_link_08 {background-image: url("images/03/side/left-2_08.gif"); width: 70px; height: 44px;}
    #side_link_09 {background-image: url("images/03/side/left-2_09.gif"); width: 55px; height: 42px;}
    #side_link_11 {background-image: url("images/03/side/left-2_11.gif"); width: 55px; height: 41px;}
    /*#side_link_13 img {background-image: url("images/03/side/left-2_13.gif"); width: 65px; height: 45px;}*/
    #side_link_14 {background-image: url("images/03/side/left-2_14.gif"); width: 60px; height: 45px;}
    #side_link_03:hover {background-image: url("images/03/side/left-2_03b.gif");}
    /* #side_link_04:hover img {background-image: url("images/02/side/left-2_04b.gif");} */
    #side_link_04:hover {background-image: url("images/03/side/left-2_04b.gif");}
    #side_link_07:hover {background-image: url("images/03/side/left-2_07b.gif");}
    #side_link_08:hover {background-image: url("images/03/side/left-2_08b.gif");}
    /*#side_link_09:hover {background-image: url("images/03/side/left-2_09b.gif");}*/
    #side_link_11:hover {background-image: url("images/03/side/left-2_11b.gif");}
    #side_link_13:hover {background-image: url("images/03/side/left-2_13b.gif");}
    #side_link_14:hover {background-image: url("images/03/side/left-2_14b.gif");}

    .side-section:after {
        opacity: 0;
        content: url('images/03/side/left-2_03b.gif')
                 url('images/03/side/left-2_04b.gif')
                 url('images/03/side/left-2_07b.gif')
                 url('images/03/side/left-2_08b.gif')
                 url('images/03/side/left-2_11b.gif')
                 url('images/03/side/left-2_13b.gif')
                 url('images/03/side/left-2_14b.gif')
    }
    
</style>
<div class="side-section" id="side_panel"> <a href="https://www.arte.gov.tw/" target="_blank"  title="在新視窗打開連結"><img class="side_panel_image" src="images/03/side/left-2_01.gif" alt="國立臺灣藝術教育館官網"></a>
    <div class="side_panel_head_group">
        <!-- <img class="side_panel_image_head head1" src="images/02/side/left-2_02.gif" alt=""> -->
        <!-- <img class="side_panel_image_head head2" src="images/02/side/1.gif" alt=""> -->
        <img class="side_panel_image_png" src="images/03/side/2.png" alt="LOGO">
    </div>
    <div class="side_panel_group">
        <a href="01.html" id="side_link_03" class="side_panel_image" style="font-size: 0;">戲劇簡介</a>
        <a href="02.html"  id="side_link_04" class="side_panel_image" style="font-size: 0;">認識劇場</a>
    </div>
    <div class="side_panel_group">
        <img class="side_panel_image" src="images/03/side/left-2_05.gif" alt="Image">
        <a href="03.html" id="side_link_06"  class="side_panel_image" style="font-size: 0;">兒童戲劇簡介</a>
    </div>
    <div class="side_panel_group">
        <a href="05.html" id="side_link_07"  class="side_panel_image" style="font-size: 0;">資源教室</a>
        <a href="04.html" id="side_link_08"  class="side_panel_image"  style="font-size: 0;">兒童戲劇應用</a>
    </div>
    <div class="side_panel_group">
        <!--<a href="#" id="side_link_09" class="side_panel_image" ></a>-->
        <img class="side_panel_image" src="images/03/side/left-2_09.gif" alt="Image">
        <img class="side_panel_image" src="images/03/side/left-2_10.gif" alt="Image">
    </div>
    <div class="side_panel_group">
        <a href="06.html" id="side_link_11"  class="side_panel_image" style="font-size: 0;">網站導覽</a>
        <img class="side_panel_image" src="images/03/side/left-2_12.gif" alt="Image">
    </div>
    <div class="side_panel_group">
        <!--<a href="#" id="side_link_13" class="side_panel_image" ><img alt="side_link_13"></a>-->
        <img  src="images/03/side/left-2_13.gif" alt="Image">
        <a href="index.html" id="side_link_14"  class="side_panel_image"  style="font-size: 0;">回到首頁</a>
    </div>
    <div class="side_panel_group">
        <img class="side_panel_image" src="images/03/side/left-2_15.gif" alt="Image">
    </div>
</div>